################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/bin
*.user
*.suo
*.userosscache
*.sln.docstates
*.cache
*.log
*.pdb
*.dbmdl
*.dbproj.schemaview
*.dbproj.user
*.vspscc
*.vssscc
*.ncrunch*
_ReSharper*/
[Tt]est[Rr]esult*
*.publish.xml
*.localhistory
*.idea/
*.DS_Store
*.vscode/
*.env
*.swp
*.bak
*.tmp
*.orig
*.sln.ide
*.dotCover
*.coverage
*.coveragexml
*.TestResults
*.vsconfig
*.launchSettings.json
node_modules/
wwwroot/lib/
dist/
.env.*
secrets.json
appsettings.*.json
!appsettings.json